Predicting Life Expectancy Without Python.json
[{"id":"6ff89e9a.afc47","type":"tab","label":"PredictingLifeExpectancyUsingAutoAI","disabled":false,"info":""},{"id":"893d190a.f80fe8","type":"ui_form","z":"6ff89e9a.afc47","name":"","label":"","group":"4a768920.9ef4a8","order":4,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Status","value":"status","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"adult","type":"text","required":true,"rows":null},{"label":"Infant Deaths","value":"infant","type":"text","required":true,"rows":null},{"label":"Alcohol","value":"alcohol","type":"text","required":true,"rows":null},{"label":"Percentage Expenditure","value":"expenditure","type":"text","required":true,"rows":null},{"label":"Hepatitis B","value":"hepatitis","type":"text","required":true,"rows":null},{"label":"Measles ","value":"measles","type":"text","required":true,"rows":null},{"label":" BMI ","value":"bmi","type":"text","required":true,"rows":null},{"label":"Under-five Deaths ","value":"under","type":"text","required":true,"rows":null},{"label":"Polio","value":"polio","type":"text","required":true,"rows":null},{"label":"Total expenditure","value":"total","type":"text","required":true,"rows":null},{"label":"Diphtheria ","value":"diphtheria","type":"text","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"text","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"text","required":true,"rows":null},{"label":"Population","value":"population","type":"text","required":true,"rows":null},{"label":"Thinness  1-19 years","value":"thin1","type":"text","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"thin2","type":"text","required":true,"rows":null},{"label":"Income composition of resources","value":"income","type":"text","required":true,"rows":null},{"label":"Schooling","value":"schooling","type":"text","required":true,"rows":null}],"formValue":{"country":"","year":"","status":"","adult":"","infant":"","alcohol":"","expenditure":"","hepatitis":"","measles":"","bmi":"","under":"","polio":"","total":"","diphtheria":"","hiv":"","gdp":"","population":"","thin1":"","thin2":"","income":"","schooling":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":400,"wires":[["6b92d010.150c7"]]},{"id":"6b92d010.150c7","type":"function","z":"6ff89e9a.afc47","name":"PreToken","func":"global.set(\"country\",msg.payload.country)\nglobal.set(\"year\",msg.payload.year)\nglobal.set(\"status\",msg.payload.status)\nglobal.set(\"adult\",msg.payload.adult)\nglobal.set(\"infant\",msg.payload.infant)\nglobal.set(\"alcohol\",msg.payload.alcohol)\nglobal.set(\"expenditure\",msg.payload.expenditure)\nglobal.set(\"hepatitis\",msg.payload.hepatitis)\nglobal.set(\"measles\",msg.payload.measles)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"under\",msg.payload.under)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"total\",msg.payload.total)\nglobal.set(\"diphtheria\",msg.payload.diphtheria)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"population\",msg.payload.population)\nglobal.set(\"thin1\",msg.payload.thin1)\nglobal.set(\"thin2\",msg.payload.thin2)\nglobal.set(\"income\",msg.payload.income)\nglobal.set(\"schooling\",msg.payload.schooling)\nvar apikey=\"XVbCClgW-AyF176G3e2fRNL2SdDQAawomA5Tf0PHH1-d\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":320,"wires":[["53379963.dd0ab8"]]},{"id":"53379963.dd0ab8","type":"http request","z":"6ff89e9a.afc47","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":320,"wires":[["21c339c0.723c96","d9753b5a.a0bf18"]]},{"id":"277f8240.8e2e9e","type":"inject","z":"6ff89e9a.afc47","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":220,"wires":[["6b92d010.150c7"]]},{"id":"d9753b5a.a0bf18","type":"debug","z":"6ff89e9a.afc47","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":400,"wires":[]},{"id":"21c339c0.723c96","type":"function","z":"6ff89e9a.afc47","name":"Pre Prediction","func":"var country = global.get('country')\nvar year = global.get('year')\nvar status = global.get('status')\nvar adult = global.get('adult')\nvar infant = global.get('infant')\nvar alcohol = global.get('alcohol')\nvar expenditure = global.get('expenditure')\nvar hepatitis = global.get('hepatitis')\nvar measles = global.get('measles')\nvar bmi = global.get('bmi')\nvar under = global.get('under')\nvar polio = global.get('polio')\nvar total = global.get('total')\nvar diphtheria = global.get('diphtheria')\nvar hiv = global.get('hiv')\nvar gdp = global.get('gdp')\nvar population = global.get('population')\nvar thin1 = global.get('thin1')\nvar thin2 = global.get('thin2')\nvar income = global.get('income')\nvar schooling = global.get('schooling')\nvar token=msg.payload.access_token\nvar instance_id=\"eed295a3-64e6-45f3-891e-696f4fe0f553\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\":[{\"fields\": [\"country\",\"year\",\"status\",\"adult\",\"infant\",\"alcohol\",\"expenditure\",\"hepatitis\",\"measles\",\"bmi\",\"under\",\"polio\",\"total\",\"diphtheria\",\"hiv\",\"gdp\",\"population\",\"thin1\",\"thin2\",\"income\",\"schooling\"], \"values\": [[country,year,status,adult,infant,alcohol,expenditure,hepatitis,measles,bmi,under,polio,total,diphtheria,hiv,gdp,population,thin1,thin2,income,schooling]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":320,"wires":[["dfed1eb.835fde"]]},{"id":"dfed1eb.835fde","type":"http request","z":"6ff89e9a.afc47","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/84c16af3-b670-4600-bc56-813afa38d21a/predictions","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":300,"wires":[["f18cfb40.a53c78","d9753b5a.a0bf18"]]},{"id":"5c3966e0.acf7e8","type":"ui_text","z":"6ff89e9a.afc47","group":"4a768920.9ef4a8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":460,"wires":[]},{"id":"f18cfb40.a53c78","type":"function","z":"6ff89e9a.afc47","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":440,"wires":[["d9753b5a.a0bf18","5c3966e0.acf7e8"]]},{"id":"4a768920.9ef4a8","type":"ui_group","z":"","name":"Enter the following details to predict Life Expectancy","tab":"d29659d5.31f418","order":2,"disp":true,"width":"10","collapse":false},{"id":"d29659d5.31f418","type":"ui_tab","z":"","name":"Predicting the Life Expectancy","icon":"dashboard","disabled":false,"hidden":false}]