Predicting Life Expectancy With Python.json
[{"id":"2a3f138b.ace1fc","type":"tab","label":"Predicting Life Expectancy Using Machine Learning","disabled":false,"info":""},{"id":"95087a18.be8ef8","type":"ui_form","z":"2a3f138b.ace1fc","name":"","label":"","group":"4a768920.9ef4a8","order":3,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Status","value":"status","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"adult","type":"text","required":true,"rows":null},{"label":"Infant Deaths","value":"infant","type":"text","required":true,"rows":null},{"label":"Alcohol","value":"alcohol","type":"text","required":true,"rows":null},{"label":"Percentage Expenditure","value":"expenditure","type":"text","required":true,"rows":null},{"label":"Hepatitis B","value":"hepatitis","type":"text","required":true,"rows":null},{"label":"Measles ","value":"measles","type":"text","required":true,"rows":null},{"label":" BMI ","value":"bmi","type":"text","required":true,"rows":null},{"label":"Under-five Deaths ","value":"under","type":"text","required":true,"rows":null},{"label":"Polio","value":"polio","type":"text","required":true,"rows":null},{"label":"Total expenditure","value":"total","type":"text","required":true,"rows":null},{"label":"Diphtheria ","value":"diphtheria","type":"text","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"text","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"text","required":true,"rows":null},{"label":"Population","value":"population","type":"text","required":true,"rows":null},{"label":"Thinness  1-19 years","value":"thin1","type":"text","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"thin2","type":"text","required":true,"rows":null},{"label":"Income composition of resources","value":"income","type":"text","required":true,"rows":null},{"label":"Schooling","value":"schooling","type":"text","required":true,"rows":null}],"formValue":{"country":"","year":"","status":"","adult":"","infant":"","alcohol":"","expenditure":"","hepatitis":"","measles":"","bmi":"","under":"","polio":"","total":"","diphtheria":"","hiv":"","gdp":"","population":"","thin1":"","thin2":"","income":"","schooling":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":380,"wires":[["9982250a.c486d8"]]},{"id":"9982250a.c486d8","type":"function","z":"2a3f138b.ace1fc","name":"PreToken","func":"global.set(\"country\",msg.payload.country)\nglobal.set(\"year\",msg.payload.year)\nglobal.set(\"status\",msg.payload.status)\nglobal.set(\"adult\",msg.payload.adult)\nglobal.set(\"infant\",msg.payload.infant)\nglobal.set(\"alcohol\",msg.payload.alcohol)\nglobal.set(\"expenditure\",msg.payload.expenditure)\nglobal.set(\"hepatitis\",msg.payload.hepatitis)\nglobal.set(\"measles\",msg.payload.measles)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"under\",msg.payload.under)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"total\",msg.payload.total)\nglobal.set(\"diphtheria\",msg.payload.diphtheria)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"population\",msg.payload.population)\nglobal.set(\"thin1\",msg.payload.thin1)\nglobal.set(\"thin2\",msg.payload.thin2)\nglobal.set(\"income\",msg.payload.income)\nglobal.set(\"schooling\",msg.payload.schooling)\nvar apikey=\"XVbCClgW-AyF176G3e2fRNL2SdDQAawomA5Tf0PHH1-d\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":300,"wires":[["8f1f2b4b.b18428"]]},{"id":"8f1f2b4b.b18428","type":"http request","z":"2a3f138b.ace1fc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":300,"wires":[["c0615549.4677a8","4ff6b5d8.aaef1c"]]},{"id":"2b14be7b.e861e2","type":"inject","z":"2a3f138b.ace1fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":200,"wires":[["9982250a.c486d8"]]},{"id":"4ff6b5d8.aaef1c","type":"debug","z":"2a3f138b.ace1fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":380,"wires":[]},{"id":"c0615549.4677a8","type":"function","z":"2a3f138b.ace1fc","name":"Pre Prediction","func":"var country = global.get('country')\nvar year = global.get('year')\nvar status = global.get('status')\nvar adult = global.get('adult')\nvar infant = global.get('infant')\nvar alcohol = global.get('alcohol')\nvar expenditure = global.get('expenditure')\nvar hepatitis = global.get('hepatitis')\nvar measles = global.get('measles')\nvar bmi = global.get('bmi')\nvar under = global.get('under')\nvar polio = global.get('polio')\nvar total = global.get('total')\nvar diphtheria = global.get('diphtheria')\nvar hiv = global.get('hiv')\nvar gdp = global.get('gdp')\nvar population = global.get('population')\nvar thin1 = global.get('thin1')\nvar thin2 = global.get('thin2')\nvar income = global.get('income')\nvar schooling = global.get('schooling')\nvar token=msg.payload.access_token\nvar instance_id=\"eed295a3-64e6-45f3-891e-696f4fe0f553\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"year\",\"adult\",\"infant\",\"alcohol\",\"expenditure\",\"hepatitis\",\"measles\",\"bmi\",\"under\",\"polio\",\"total\",\"diphtheria\",\"hiv\",\"gdp\",\"population\",\"thin1\",\"thin2\",\"income\",\"schooling\"], \"values\": [[year,adult,infant,alcohol,expenditure,hepatitis,measles,bmi,under,polio,total,diphtheria,hiv,gdp,population,thin1,thin2,income,schooling]]}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":300,"wires":[["f8a78aee.67b388"]]},{"id":"f8a78aee.67b388","type":"http request","z":"2a3f138b.ace1fc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/eed295a3-64e6-45f3-891e-696f4fe0f553/deployments/68c1105c-a6ff-47f5-94b8-f66ce4d739ed/online","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":280,"wires":[["7aa4e4dd.83dfdc","4ff6b5d8.aaef1c"]]},{"id":"bc1361d9.3c08b","type":"ui_text","z":"2a3f138b.ace1fc","group":"4a768920.9ef4a8","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":440,"wires":[]},{"id":"7aa4e4dd.83dfdc","type":"function","z":"2a3f138b.ace1fc","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":420,"wires":[["4ff6b5d8.aaef1c","bc1361d9.3c08b"]]},{"id":"4a768920.9ef4a8","type":"ui_group","z":"","name":"Enter the following details to predict Life Expectancy","tab":"d29659d5.31f418","order":2,"disp":true,"width":"10","collapse":false},{"id":"d29659d5.31f418","type":"ui_tab","z":"","name":"Predicting the Life Expectancy","icon":"dashboard","disabled":false,"hidden":false}]
